.leaflet-bar button/*,
.leaflet-bar button:hover*/ {
  background-color: rgba(255,255,255, 0.95) /*#fff*/;
  border: none;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 85%;
  /*display: block;*/
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  overflow-x: visible;
  overflow-y: hidden;
  opacity: 0.25;
  filter: alpha(opacity = 25);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

.leaflet-bar button:hover {
  background-color: #00ffff; /* #909090 */;
  text-decoration: underline;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* uncomment this to get rid of button borders, this also removes border from zoom buttons
.leaflet-touch .leaflet-bar {
    border: none;
}

/*.leaflet-bar button:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}


/*.leaflet-touch .leaflet-bar button {
  width: 100%;
  height: 20px;
  line-height: 18px;
  overflow-y: hidden;
  opacity: .5;
  filter: alpha(opacity=50);
  white-space: nowrap;
}*/
