.Rproj.user
.Rhistory
.RData
_bookdown_files
.DS_Store
.Rapp.history
_book
_main.*
*.html
*.pdf
w.*
world.*
plot[1-9].gif
world.dbf
libs
rsconnect
README_files/figure-html/
man
*_files
bookdown*
!ga.html
*.utf8.md
unnamed-chunk*
inst/doc
wc10
misc
ways.Rds
congruence.Rdata
render*.rds
census.zip
*klassierte_Werte_1km-Gitter.*
local-area-walking-and-cycling-in-england-2015.zip
*.ods
*.xls
cycle.*
