language: r
cache: packages

install_r:
- devtools

script:
  - R CMD INSTALL ../rgeobook/
  - make html

after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash deploy.sh

notifications:
  email:
    on_success: change
on_failure: change