div.rmdnote, div.rstudio-tip, div.rmdwarning {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  background-color: #ecf0f9;
  max-width: 100%;
  font-size: 0.85em;
  letter-spacing: 1pt;
}

div.rmdnote {
  background-image: url("../images/globe.png");
}

div.sourceCode {
      font-size: 1.0rem;
}