name: qgis
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  bookdown:
    name: Render-Book
    runs-on: ubuntu-latest
    container: ghcr.io/geocompx/docker:qgis
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: Rscript -e 'install.packages("geocompkg", repos = c("https://geocompr.r-universe.dev", "https://cloud.r-project.org"), dependencies = TRUE, force = TRUE)'
      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd")'        
